doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    title 
       block title 
       | -控制台
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    // Place favicon.ico in the root directory
    meta(name='theme-color', content='#fafafa')
    link(href='fonts/iconfont.css', rel='stylesheet')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/styles.min.css', rel='stylesheet')

    block bkheader
      
  body
    #wrapper.wrapper
      include leftnav.pug
      
      section#rightcol.rightcol
        include header.pug
        
        .main-content          
          block content
        
        include footer.pug
     
    script(src='js/vendor/jquery-3.4.1.min.js')   
    script(src='bootstrap/js/bootstrap.bundle.min.js')
    script(src='js/app.js')

    block bkfooter