aside#leftcol.leftcol
    .logo
        a(href='index.html')
            img(src='img/logo.svg', alt='logo')
    nav#menu
        ul#mainmenu.mainmenu
            li
                a(href='index.html')
                    i.iconfont.icon-dashboard
                    |  控制面板
                    .arrow-left
            li.down-nav
                a(href='#')
                    i.iconfont.icon-table
                    |  表格 
                    i.arrow.iconfont.icon-down
                ul.submenu
                    li
                        a(href='table_basic.html')
                            | 简单表格
                    li
                        a(href='table_adv.html') 复杂表格
            li.down-nav
                a(href='#')
                    i.iconfont.icon-edit
                    |  表单 
                    i.arrow.iconfont.icon-down
                ul.list-unstyled.submenu
                    li
                        a(href='form_basic.html') 基本表单
                    li
                        a(href='form_adv.html') 带验证表单
                    li
                        a(href='form_adv_pic.html') 表单带文件上传
            li
                a(href='pages.html')
                    i.iconfont.icon-file-text
                    |  页面管理
            li.customers
                a(href='customers.html')
                    i.iconfont.icon-customer
                    |  客户管理
            li.down-nav
                a(href='#')
                    i.iconfont.icon-link
                    |  链接管理 
                    i.arrow.iconfont.icon-down
                ul.submenu
                    li
                        a(href='links.html') 链接列表
            li.down-nav
                a(href='#')
                    i.iconfont.icon-file-image
                    |  其它页面 
                    i.arrow.iconfont.icon-down
                ul.list-unstyled.submenu
                    li
                        a(href='../Login.html')
                            i.iconfont.icon-angle-double-right
                            |  登录页
                    li
                        a(href='../Register.html')
                            i.iconfont.icon-angle-double-right
                            |  注册页
            li.down-nav
                a(href='#')
                    i.iconfont.icon-setting
                    |  常规设置 
                    i.arrow.iconfont.icon-down
                ul.submenu
                    li
                        a(href='/bbi-admin/Common/SiteInfo.aspx')
                            i.iconfont.icon-home
                            |  站点信息
                    li
                        a(href='/bbi-admin/Common/CompanyInfo.aspx')
                            i.iconfont.icon-info-circle
                            |  企业信息
                    li
                        a(href='/bbi-admin/Common/Social.aspx')
                            i.iconfont.icon-twitter
                            |  社交资料
                    li.hide
                        a(href='/bbi-admin/Common/MailSettings.aspx')
                            i.iconfont.icon-envelope-o
                            |  邮箱服务设置
    .closemenu
        a(href='#')
            i.iconfont.icon-chevron-circle-left