.btn {
    width: rem(120);
    height: rem(31);
    font-size: rem(12);
    display: inline-block;
    border: none;
    line-height: rem(31);
    text-align: center;
    color: #666;
    transition: all .25s;
    background-color: #eee;
    border-radius: 6px;
    @media (min-width: 768px) {
        background-color: #eee;
        width: rem(120);
        height: rem(40);
        font-size: rem(14);
        line-height: rem(40);
    }
    &:hover {
        background-color: darken(#eee, 6%);
        color: #333;
    }

    &.btn-default{
        background-color: #ddd;
        &:hover{
            background-color: #ccc;
        }
    }
    
}

.btn-white {
    border: 1px #fff solid;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #333;
    }
}

.btn-primary {
    color: #fff;
    background-color: $color-primary;
    border: none;
    &:hover {
        background-color: darken($color-primary, 6%);
        color: #fff;
        border-color: #000;
    }
}

.btn-black {
    border-color: #333;
    color: #333;
    &:hover {
        background-color: #333;
        color: #fff;
    }
}

.btn-block {
    width: 100%;
    display: block;
}
.btn-lg{
    height: 60px;
    font-size: rem(22);
    width: auto;
    padding: 0 3rem;
}
.btn-sm {  
    line-height: 32px;
    width: 102px;
    height: 32px;
  }
  