.card{
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,.10);
}
.card-header{
    background-color: #fff;
    border-bottom: none;
   
    .card-title{
        color:$color-text-heading;   
    }
}
.card-body{  
    .card-toolbar{
       
    }
}
.card-footer{
    background-color: #fff; 
    border-top: none;
    padding-bottom: 1rem;
}