
.site-footer {
    background: #2d2d2d;
    color: #fff;
    padding-top: 2rem;
    @include mq(lg){
        padding-top: 3rem;
    }
.logo{
    margin-bottom: 2rem;
}
    dl{
      
        &.leftcol{
            max-width: 280px;
        }
 
        dt{
            font-size: rem(14);
            font-weight: normal;
            margin-bottom: .5rem;
         
            @include mq(md){
                font-size: 1rem;
            }
        }
        dd{
            font-size: rem(13);
            margin-bottom: 2rem;
            @include mq(md){
                font-size: rem(14);
            }

            &.phone{
                font-size: rem(20);
                .iconfont{
                    font-size: rem(20);
                }
            }
        }
    }

    .rightcol{
        @include mq(md){
            font-size: rem(14);
        }
        h4{font-size: 1rem;}
        p{
            text-align: justify; margin-bottom: 1.6rem;
        }
        @include mq(lg){
            margin-left: 3rem;
        }
       ul{
           @include reset-list();
           margin-bottom: 1.6rem;
           li{
               display: inline-block;
               margin-right: .8rem;
               
           }
       }
    }
   .copyright{
        font-size: rem(12);
       @include mq(lg){
            margin-top: 1rem; font-size: rem(14);
        }
        @include mq(xl){
            margin-top: 1rem; font-size: 1rem;
        }
       background-color: $color-primary;
       color: #fff;
       padding-top: .6rem;
       padding-bottom: .6rem;
       text-align: center;
       a{
           color: #fff; margin-left: 1rem;
           &:hover{
               text-decoration: underline;
           }
       }
   }
}