
  body.loginPage {
    background: #fff;
    height: 100%;
  }
  .loginbox {
    max-width: 360px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 12px;
    width: 100%;
    background-color: #fff;
    @include vertical-align(); 
  }
  .loginbox header.loginbox-header {
    text-align: center;
    border-radius: 6px 6px 0 0;
    background: $color-primary;
   padding: 1rem;
 
  }

  .loginbox .loginForm {
    padding: 30px;
  }
