
  body.loginPage {
    background: $color-primary url(../img/bg.svg) no-repeat center center;
    background-size: cover;
    height: 100%;
    .site-footer{
      a{
        color: #ccc;
      }
    }
  }
  .loginbox {
    max-width: 360px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 12px;
    width: 100%;
    background-color: #fff;
    @include vertical-align(); 
    header.loginbox-header {
      text-align: center;
      border-radius: 6px 6px 0 0;
      background:#f7f7f7;
     padding: 1rem;
   
    }
  }


  .loginbox .loginForm {
    padding: 30px;
    .form-control{
      padding: .6rem .8rem;
      height: auto;
    }
    .btn{
      padding: .6rem 1rem;
    }
  }
