extends includes/layout.pug

block title
    | 404页面

block content
    .breadcrumb-container
        .row
            .col-md
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='#') 控制面板
                        li.breadcrumb-item
                            a(href='#') Library
                        li.breadcrumb-item.active(aria-current='page') 未找到页面
            .col-md-auto
                time#sitetime
    .page.page-noaccess  
        .alert.alert-danger(role='alert')
            i.iconfont.icon-error-fill 
            |  没有权限查看此页，请重新
            a.alert-link(href='login.html') 登录
            | !

            

   
