doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    title 控制台
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    // Place favicon.ico in the root directory
    meta(name='theme-color', content='#fafafa')
    link(href='fonts/iconfont.css', rel='stylesheet')
    link(href='css/styles.min.css', rel='stylesheet')
    script(src='js/vendor/ckeditor/ckeditor.js')
  body
   
    #wrapper.wrapper
      aside#leftcol.leftcol
        .logo
          a(href='index.html')
            img(src='img/logo.png', alt='logo')
        nav#menu
          ul#mainmenu.mainmenu
            li.liitem
              a(href='index.html')
                i.iconfont.icon-dashboard
                |  控制面板
                .arrow-left
            li.liitem.down-nav
              a(href='#')
                i.iconfont.icon-table
                |  表格 
                i.arrow.iconfont.icon-down
              ul.submenu
                li
                  a(href='table_basic.html')
                    | 简单表格
                li
                  a(href='table_adv.html') 高级表格
            li.liitem.down-nav.nav-open
              a(href='#')
                i.iconfont.icon-edit
                |  表单 
                i.arrow.iconfont.icon-down
              ul.list-unstyled.submenu
                li
                  a(href='form_basic.html') 基本表单
                li
                  a(href='form_adv.html') 带验证表单
                li
                  a.active(href='form_adv_pic.html') 表单带文件上传
            li.liitem
              a(href='pages.html')
                i.iconfont.icon-file-text
                |  页面管理
            li.liitem.down-nav
              a(href='#')
                i.iconfont.icon-link
                |  链接管理 
                i.arrow.iconfont.icon-down
              ul.submenu
                li
                  a(href='links.html') 链接列表
            li.liitem.down-nav
              a(href='#')
                i.iconfont.icon-file-image
                |  其它页面 
                i.arrow.iconfont.icon-down
              ul.list-unstyled.submenu
                li
                  a(href='../Login.html')
                    i.iconfont.icon-angle-double-right
                    |  登录页
                li
                  a(href='../Register.html')
                    i.iconfont.icon-angle-double-right
                    |  注册页
            li.liitem.down-nav
              a(href='#')
                i.iconfont.icon-setting
                |  常规设置 
                i.arrow.iconfont.icon-down
              ul.submenu
                li
                  a(href='/bbi-admin/Common/SiteInfo.aspx')
                    i.iconfont.icon-home
                    |  站点信息
                li
                  a(href='/bbi-admin/Common/CompanyInfo.aspx')
                    i.iconfont.icon-info-circle
                    |                                     企业信息
                li
                  a(href='/bbi-admin/Common/Social.aspx')
                    i.iconfont.icon-twitter
                    |  社交资料
                li.hide
                  a(href='/bbi-admin/Common/MailSettings.aspx')
                    i.iconfont.icon-envelope-o
                    |  邮箱服务设置
        .closemenu
          a(href='#')
            i.iconfont.icon-chevron-circle-left
      #rightcol.rightcol
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-primary
          a#openav.navbar-brand(href='#')
            i.iconfont.icon-menu
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='#')
                  | Home 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='#') Link
              li.nav-item
                a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
            ul.navbar-nav.navbar-right
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | 你好，Admin
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='#') 修改密码
                  a.dropdown-item(href='#') Another action
                  .dropdown-divider
                  a.dropdown-item(href='#') Something else here
              li.nav-item
                a.nav-link(href='/bbi-admin/loginOut.aspx')
                  i.iconfont.icon-sign-out
                  |  退出系统
        .main-content
          .breadcrumb-container
            .row
              .col-md
                nav(aria-label='breadcrumb')
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='#') 控制面板
                    li.breadcrumb-item
                      a(href='#') Library
                    li.breadcrumb-item.active(aria-current='page') Data
              .col-md-auto
                time#sitetime
          .subheader
            h1.subheader-title
              i.iconfont.icon-table
              |  表单页面
            small
              | Documentation and examples for opt-in styling of tables (given their prevelant use in JavaScript
              | plugins) with Bootstrap.
          form.needs-validation(novalidate='')
            .card
              header.card-header
                .row
                  .col 数据查询
                  .col-auto
                    .control
                      a.expand(href='#')
                        i.iconfont.icon-fullscreen
                      a.compress(href='#', style='display: none;')
                        i.iconfont.icon-shrink
              section.card-body
                .row
                  .col-md
                    .form-row
                      .col-md-4.mb-3
                        label(for='validationCustom01') First name
                        input#validationCustom01.form-control(type='text', value='Mark', required='')
                        .valid-feedback
                          | Looks good!
                      .col-md-4.mb-3
                        label(for='validationCustom02') Last name
                        input#validationCustom02.form-control(type='text', value='Otto', required='')
                        .valid-feedback
                          | Looks good!
                      .col-md-4.mb-3
                        label(for='validationCustomUsername') Username
                        .input-group
                          .input-group-prepend
                            span#inputGroupPrepend.input-group-text @
                          input#validationCustomUsername.form-control(type='text', aria-describedby='inputGroupPrepend', required='')
                          .invalid-feedback
                            | Please choose a username.
                    .form-row
                      .col-md-6.mb-3
                        label(for='validationCustom03') City
                        input#validationCustom03.form-control(type='text', required='')
                        .invalid-feedback
                          | Please provide a valid city.
                      .col-md-3.mb-3
                        label(for='validationCustom04') State
                        select#validationCustom04.custom-select(required='')
                          option(selected='', disabled='', value='') Choose...
                          option ...
                        .invalid-feedback
                          | Please select a valid state.
                      .col-md-3.mb-3
                        label(for='validationCustom05') Zip
                        input#validationCustom05.form-control(type='text', required='')
                        .invalid-feedback
                          | Please provide a valid zip.
                    .form-group
                      label(for='my-input') 内容
                      textarea#editor1(name='editor1', rows='10', cols='80')
                        | This is my textarea to be replaced with CKEditor.
                    .form-group
                      .form-check
                        input#invalidCheck.form-check-input(type='checkbox', value='', required='')
                        label.form-check-label(for='invalidCheck')
                          | Agree to terms and conditions
                        .invalid-feedback
                          | You must agree before submitting.
                  .col-md-auto
                    .card
                      .card-header
                        | 图片设置
                      .card-body
                        img(data-src='holder.js/300x200?text=300x200 \n 缩略图')
                      .card-footer.text-center
                        button.btn.btn-outline-primary.btn-sm(type='button')
                          i.iconfont.icon-image
                          |  浏览
                        button.btn.btn-outline-danger.btn-sm(type='button')
                          i.iconfont.icon-delete
                          |  移除
              footer.card-footer.text-center
                button.btn.btn-primary(type='submit')
                  i.iconfont.icon-save
                  |   提交
                button.btn.btn-secondary(type='button')
                  i.iconfont.icon-left
                  |   返回
        footer#pagefooter.site-footer
          | Copyright © 2012-2020 
          a#hlSiteInfo(href='http://heiniaozhi.cn') 黑鸟志
          |  All Rights
          |                 Reserved
      script(src='js/vendor/modernizr-3.8.0.min.js')
      script(src='js/vendor/jquery-3.4.1.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
      script(src='js/bootstrap/bootstrap.min.js')
      script(src='js/vendor/holderjs/holder.min.js')
      script(src='js/app.js')
      script.
        CKEDITOR.replace( 'editor1' );
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
        'use strict';
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
        }
        form.classList.add('was-validated');
        }, false);
        });
        }, false);
        })();
