extends includes/layout.pug

block title
    | 首页

block content
    .breadcrumb-container
        .row
            .col-md
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='#') 控制面板
                        li.breadcrumb-item
                            a(href='#') Library
                        li.breadcrumb-item.active(aria-current='page') Data
            .col-md-auto
                time#sitetime
    .page.page-home  
        .row.mb-4
            .col
                .box
                    h3.title 567
                        small 篇
                    p 新闻资讯
                    i.iconfont.icon-newspaper
            .col
                .box.b2
                    h3.title 567
                        small 个
                    p 页面
                    i.iconfont.icon-file-text
            .col
                .box.b3
                    h3.title 5667
                        small 个
                    p 产品展示
                    i.iconfont.icon-windows
            .col
                .box.b4
                    h3.title 567
                        small 个
                    p 广告位
                    i.iconfont.icon-image

        .row
            .col-md-6 
                .card
                    header.card-header
                        .row
                            .col
                                .card-title-v1 
                                    i.iconfont.icon-file-text
                                    | 最新文章
                            .col-auto
                                .control
                                    a.expand(href='#')
                                        i.iconfont.icon-fullscreen
                                    a.compress(href='#')
                                        i.iconfont.icon-shrink
                    .card-body
                        .list-group.list-group-flush
                            a.list-group-item.list-group-item-action(href="#") 完善您的相关信息，尤其是技术能力与专业经验 
                                small.text-info (2020-1-21)
                            a.list-group-item.list-group-item-action(href="#") 我们拒绝恶意报价，一份真实且具有竞争力的报价无疑可以让您更容易中标 
                                small.text-info (2020-1-21)
                            a.list-group-item.list-group-item-action(href="#") 积极响应与发包方的沟通交流，体现良好的职业素养及专业能力 
                                small.text-info (2020-1-21)
                            a.list-group-item.list-group-item-action(href="#") 完善您的相关信息，尤其是技术能力与专业经验 
                                small.text-info (2020-1-21)
                            a.list-group-item.list-group-item-action(href="#") 认真详细阅读理解项目需求，认真详细填写竞标方案与您的竞标优势 
                                small.text-info (2020-1-21)
                            a.list-group-item.list-group-item-action(href="#") 完善您的相关信息，尤其是技术能力与专业经验 
                                small.text-info (2020-1-21)
            .col-md-6 
                .card
                    header.card-header
                        .row
                            .col
                                .card-title-v1 
                                    i.iconfont.icon-file-text
                                    | 最新产品
                            .col-auto
                                .control
                                    a.expand(href='#')
                                        i.iconfont.icon-fullscreen
                                    a.compress(href='#')
                                        i.iconfont.icon-shrink
                    .card-body
                        .list-group.list-group-flush
                            a.list-group-item.list-group-item-action(href="#") 完善您的相关信息，尤其是技术能力与专业经验 
                                small.text-info (2020-1-21)
                            a.list-group-item.list-group-item-action(href="#") 我们拒绝恶意报价，一份真实且具有竞争力的报价无疑可以让您更容易中标 
                                small.text-info (2020-1-21)
                            a.list-group-item.list-group-item-action(href="#") 积极响应与发包方的沟通交流，体现良好的职业素养及专业能力 
                                small.text-info (2020-1-21)
                            a.list-group-item.list-group-item-action(href="#") 完善您的相关信息，尤其是技术能力与专业经验 
                                small.text-info (2020-1-21)
                            a.list-group-item.list-group-item-action(href="#") 认真详细阅读理解项目需求，认真详细填写竞标方案与您的竞标优势 
                                small.text-info (2020-1-21)
                            a.list-group-item.list-group-item-action(href="#") 完善您的相关信息，尤其是技术能力与专业经验 
                                small.text-info (2020-1-21)
