doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    title 用户登录
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    // Place favicon.ico in the root directory
    meta(name='theme-color', content='#fafafa')
    link(href='fonts/iconfont.css', rel='stylesheet')
    link(href='css/styles.min.css', rel='stylesheet')
  body.loginPage
    .loginbox
      header.loginbox-header
        img(src='img/logo.png', alt='')
      form.loginForm(method='post')
        .input-group.mb-4
          .input-group-prepend
            span#basic-addon1.input-group-text
              i.iconfont.icon-user
          input.form-control(type='text', placeholder='帐号/用户名', aria-label='Username', aria-describedby='basic-addon1')
        .input-group.mb-4
          .input-group-prepend
            span#basic-addon2.input-group-text
              i.iconfont.icon-lock
          input.form-control(type='password', placeholder='密码', aria-label='password', aria-describedby='basic-addon2')
        .checkbox
          label
            input(type='checkbox')
            |  记住我
        button.btn.btn-primary.btn-block(type='submit') 登录系统
    script(src='js/libs/jquery-1.12.4.min.js')
    script(src='js/bootstrap/bootstrap.min.js')
    script(src='js/app.js')
    script.
      $(function () {
      $('button').click(function (e) {
      e.preventDefault();
      location.href = 'index.html';
      });
      })
