doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    title 用户登录
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    // Place favicon.ico in the root directory
    meta(name='theme-color', content='#fafafa')
    link(href='fonts/iconfont.css', rel='stylesheet')
    link(href='css/styles.min.css', rel='stylesheet')
  body.loginPage
    header.site-header
      .container
        .logo
          img(src='img/logo.svg', alt='')
    .loginbox
      header.loginbox-header 用户登录
        
      form.loginForm(method='post')
        .mb-3
          label(for='username') 帐号/用户名
          input#username.form-control(type='text', name='username')
        .mb-3
          label(for='password') 密码
          input#password.form-control(type='password', name='password')

        .custom-control.custom-checkbox.mb-3
          input#rememberme.custom-control-input(type='checkbox')
          label.custom-control-label(for='rememberme') 记住我
            
           
        button.btn.btn-primary.btn-block(type='submit') 登录系统
    include includes/footer.pug


    script(src='js/libs/jquery-1.12.4.min.js')
    script(src='js/bootstrap/bootstrap.min.js')
    script(src='js/app.js')
    script.
      $(function () {
      $('button').click(function (e) {
      e.preventDefault();
      location.href = 'index.html';
      });
      })
