extends includes/layout.pug

block title
    | 数据查询

block content
    .breadcrumb-container
        .row
            .col-md
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='#') 控制面板
                        li.breadcrumb-item
                            a(href='#') Library
                        li.breadcrumb-item.active(aria-current='page') Data
            .col-md-auto
                time#sitetime


    .card
        header.card-header
            .row
                .col 
                    .card-title.mb-0
                        i.iconfont.icon-table 
                        | 数据查询
                
                .col-auto
                    .control
                        a.expand(href='#')
                            i.iconfont.icon-fullscreen
                        a.compress(href='#', style='display: none;')
                            i.iconfont.icon-shrink
        section.card-body
            .card-toolbar.mb-3
                .row
                    .col-lg
                        .btn-group.btn-group-sm(role='group', aria-label='Basic example')
                            button.btn.btn-outline-info(type='button') 移动
                            button.btn.btn-outline-info(type='button') 推荐
                            button.btn.btn-outline-info(type='button') 激活
                            button.btn.btn-outline-danger(type='button') 删除
                    .col-lg-auto
                        form.row.g-2(role='form')
                            .col-md-auto
                                .input-group.input-group-sm
                                    span#basic-addon1.input-group-text 从
                                    input#fromDate.form-control(type='date', placeholder='请输入日期', aria-label='开始日期', aria-describedby="basic-addon1")
                            .col-md-auto         
                                .input-group.input-group-sm
                                    span#basic-addon2.input-group-text 到                       
                                    input#toDate.form-control(type='date', placeholder='请输入日期', aria-label='结束日期', aria-describedby="basic-addon2")
                            .col-md-auto
                            
                                select#validationDefault04.form-select.form-select-sm
                                    option(selected, disabled) --请选择业务类型--
                                    option 2
                                    option 3
                                    option 4
                                    option 5

                            .col-md-auto
                                button.btn.btn-primary.btn-sm(type='submit')
                                    i.iconfont.icon-search
                                    |  查询

                                    
            .table-responsive
                table.table.table-hover.table-sm
                    thead.table-light
                        tr
                            th
                                input#cbSelectAll(type='checkbox')
                            th ID
                            th 业务类别
                            th 时间
                            th 服务点
                            th 款箱
                            th 激活？
                            th(style='width: 260px;') 操作
                    tbody
                        tr
                            td
                                input(type='checkbox', value='')
                            td 1
                            td Mark
                            td @mdo
                            td Mark
                            td Otto
                            td
                                i.iconfont.icon-check-circle-fill.text-success
                            td.actions
                                a.btn.btn-info.btn-sm(href='NetDetailList.html', title='查看明细')
                                    i.iconfont.icon-ellipsis
                                a.btn.btn-info.btn-sm(href='#', title='推荐')
                                    i.iconfont.icon-like
                                a.btn.btn-info.btn-sm(href='#', title='激活')
                                    i.iconfont.icon-eye
                                a.btn.btn-primary.btn-sm(href='NetDetailList.html', title='编辑')
                                    i.iconfont.icon-edit
                                a.btn.btn-info.btn-sm(href='#', title='拷贝')
                                    i.iconfont.icon-file-copy
                                a.btn.btn-danger.btn-sm(href='NetDetailList.html', title='删除')
                                    i.iconfont.icon-delete
                        tr
                            td
                                input(type='checkbox', value='')
                            td 2
                            td Jacob
                            td @fat
                            td Mark
                            td Otto
                            td
                                i.iconfont.icon-check-circle-fill.text-success
                            td.actions
                                a.btn.btn-info.btn-sm(href='NetDetailList.html', title='查看明细')
                                    i.iconfont.icon-ellipsis
                                a.btn.btn-warning.btn-sm(href='#', title='不推荐')
                                    i.iconfont.icon-unlike
                                a.btn.btn-info.btn-sm(href='#', title='激活')
                                    i.iconfont.icon-eye
                                a.btn.btn-primary.btn-sm(href='NetDetailList.html', title='编辑')
                                    i.iconfont.icon-edit
                                a.btn.btn-info.btn-sm(href='#', title='拷贝')
                                    i.iconfont.icon-file-copy
                                a.btn.btn-danger.btn-sm(href='NetDetailList.html', title='删除')
                                    i.iconfont.icon-delete
                        tr
                            td
                                input(type='checkbox', value='')
                            td 3
                            td Larry the Bird
                            td Mark
                            td Otto
                            td @mdo
                            td
                                i.iconfont.icon-check-circle-fill.text-success
                            td.actions
                                a.btn.btn-info.btn-sm(href='NetDetailList.html', title='查看明细')
                                    i.iconfont.icon-ellipsis
                                a.btn.btn-info.btn-sm(href='#', title='推荐')
                                    i.iconfont.icon-like
                                a.btn.btn-warning.btn-sm(href='#', title='锁定')
                                    i.iconfont.icon-eye-close
                                a.btn.btn-primary.btn-sm(href='NetDetailList.html', title='编辑')
                                    i.iconfont.icon-edit
                                a.btn.btn-info.btn-sm(href='#', title='拷贝')
                                    i.iconfont.icon-file-copy
                                a.btn.btn-danger.btn-sm(href='NetDetailList.html', title='删除')
                                    i.iconfont.icon-delete
                        tr
                            td
                                input(type='checkbox', value='')
                            td 3
                            td Larry the Bird
                            td Mark
                            td Otto
                            td @mdo
                            td
                                i.iconfont.icon-check-circle-fill.text-success
                            td.actions
                                a.btn.btn-info.btn-sm(href='NetDetailList.html', title='查看明细')
                                    i.iconfont.icon-ellipsis
                                a.btn.btn-info.btn-sm(href='#', title='推荐')
                                    i.iconfont.icon-like
                                a.btn.btn-info.btn-sm(href='#', title='激活')
                                    i.iconfont.icon-eye
                                a.btn.btn-primary.btn-sm(href='NetDetailList.html', title='编辑')
                                    i.iconfont.icon-edit
                                a.btn.btn-info.btn-sm(href='#', title='拷贝')
                                    i.iconfont.icon-file-copy
                                a.btn.btn-danger.btn-sm(href='NetDetailList.html', title='删除')
                                    i.iconfont.icon-delete
                        tr
                            td
                                input(type='checkbox', value='')
                            td 3
                            td Larry the Bird
                            td Mark
                            td Otto
                            td @mdo
                            td
                                i.iconfont.icon-check-circle-fill.text-success
                            td.actions
                                a.btn.btn-info.btn-sm(href='NetDetailList.html', title='查看明细')
                                    i.iconfont.icon-ellipsis
                                a.btn.btn-info.btn-sm(href='#', title='推荐')
                                    i.iconfont.icon-like
                                a.btn.btn-info.btn-sm(href='#', title='激活')
                                    i.iconfont.icon-eye
                                a.btn.btn-primary.btn-sm(href='NetDetailList.html', title='编辑')
                                    i.iconfont.icon-edit
                                a.btn.btn-info.btn-sm(href='#', title='拷贝')
                                    i.iconfont.icon-file-copy
                                a.btn.btn-danger.btn-sm(href='NetDetailList.html', title='删除')
                                    i.iconfont.icon-delete
                        tr
                            td
                                input(type='checkbox', value='')
                            td 3
                            td Larry the Bird
                            td Mark
                            td Otto
                            td @mdo
                            td
                                i.iconfont.icon-check-circle-fill.text-success
                            td.actions
                                a.btn.btn-info.btn-sm(href='NetDetailList.html', title='查看明细')
                                    i.iconfont.icon-ellipsis
                                a.btn.btn-info.btn-sm(href='#', title='推荐')
                                    i.iconfont.icon-like
                                a.btn.btn-info.btn-sm(href='#', title='激活')
                                    i.iconfont.icon-eye
                                a.btn.btn-primary.btn-sm(href='NetDetailList.html', title='编辑')
                                    i.iconfont.icon-edit
                                a.btn.btn-info.btn-sm(href='#', title='拷贝')
                                    i.iconfont.icon-file-copy
                                a.btn.btn-danger.btn-sm(href='NetDetailList.html', title='删除')
                                    i.iconfont.icon-delete
                        tr
                            td
                                input(type='checkbox', value='')
                            td 3
                            td Larry the Bird
                            td Mark
                            td Otto
                            td @mdo
                            td
                                i.iconfont.icon-check-circle-fill.text-success
                            td.actions
                                a.btn.btn-info.btn-sm(href='NetDetailList.html', title='查看明细')
                                    i.iconfont.icon-ellipsis
                                a.btn.btn-info.btn-sm(href='#', title='推荐')
                                    i.iconfont.icon-like
                                a.btn.btn-info.btn-sm(href='#', title='激活')
                                    i.iconfont.icon-eye
                                a.btn.btn-primary.btn-sm(href='NetDetailList.html', title='编辑')
                                    i.iconfont.icon-edit
                                a.btn.btn-info.btn-sm(href='#', title='拷贝')
                                    i.iconfont.icon-file-copy
                                a.btn.btn-danger.btn-sm(href='NetDetailList.html', title='删除')
                                    i.iconfont.icon-delete
                        tr
                            td
                                input(type='checkbox', value='')
                            td 3
                            td Larry the Bird
                            td Mark
                            td Otto
                            td @mdo
                            td
                                i.iconfont.icon-check-circle-fill.text-success
                            td.actions
                                a.btn.btn-info.btn-sm(href='NetDetailList.html', title='查看明细')
                                    i.iconfont.icon-ellipsis
                                a.btn.btn-info.btn-sm(href='#', title='推荐')
                                    i.iconfont.icon-like
                                a.btn.btn-info.btn-sm(href='#', title='激活')
                                    i.iconfont.icon-eye
                                a.btn.btn-primary.btn-sm(href='NetDetailList.html', title='编辑')
                                    i.iconfont.icon-edit
                                a.btn.btn-info.btn-sm(href='#', title='拷贝')
                                    i.iconfont.icon-file-copy
                                a.btn.btn-danger.btn-sm(href='NetDetailList.html', title='删除')
                                    i.iconfont.icon-delete
                        tr
                            td
                                input(type='checkbox', value='')
                            td 3
                            td Larry the Bird
                            td Mark
                            td Otto
                            td @mdo
                            td
                                i.iconfont.icon-check-circle-fill.text-success
                            td.actions
                                a.btn.btn-info.btn-sm(href='NetDetailList.html', title='查看明细')
                                    i.iconfont.icon-ellipsis
                                a.btn.btn-warning.btn-sm(href='#', title='不推荐')
                                    i.iconfont.icon-unlike
                                a.btn.btn-info.btn-sm(href='#', title='激活')
                                    i.iconfont.icon-eye
                                a.btn.btn-primary.btn-sm(href='NetDetailList.html', title='编辑')
                                    i.iconfont.icon-edit
                                a.btn.btn-info.btn-sm(href='#', title='拷贝')
                                    i.iconfont.icon-file-copy
                                a.btn.btn-danger.btn-sm(href='NetDetailList.html', title='删除')
                                    i.iconfont.icon-delete
                        tr
                            td
                                input(type='checkbox', value='')
                            td 3
                            td Larry the Bird
                            td Mark
                            td Otto
                            td @mdo
                            td
                                i.iconfont.icon-close-circle-fill.text-danger
                            td.actions
                                a.btn.btn-info.btn-sm(href='NetDetailList.html', title='查看明细')
                                    i.iconfont.icon-ellipsis
                                a.btn.btn-info.btn-sm(href='#', title='推荐')
                                    i.iconfont.icon-like
                                a.btn.btn-info.btn-sm(href='#', title='激活')
                                    i.iconfont.icon-eye
                                a.btn.btn-primary.btn-sm(href='NetDetailList.html', title='编辑')
                                    i.iconfont.icon-edit
                                a.btn.btn-info.btn-sm(href='#', title='拷贝')
                                    i.iconfont.icon-file-copy
                                a.btn.btn-danger.btn-sm(href='NetDetailList.html', title='删除')
                                    i.iconfont.icon-delete
        footer.card-footer
            .row.table-pager.align-items-center
                .col-sm
                    nav(aria-label='...')
                        ul.pagination.pagination-sm
                            li.page-item.disabled
                                a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item.active(aria-current='page')
                                a.page-link(href='#') 2                                     
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') Next
                .col-sm-auto
                    .pagecount.mb-0
                        | 显示1-10条，总计10页，记录数100条
block bkfooter
    script.
        $(function(){
        $("#cbSelectAll").change(function(){
        var isSelected = $(this).prop("checked");
        $('td input[type="checkbox"]').prop("checked",isSelected)
        })
        })
